:root {
  --color-main: #131212;
  --color-secondary: #ffbf00;
  --color-correct: #38f370;
  --color-error: #f33030;
}

.button {
  background: var(--color-main);
	border-radius: 25px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	color: var(--color-secondary);
  cursor: pointer;
  padding: 0.5em 1em;
  transition: transform 0.2s ease-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Quicksand', sans-serif;
}

header {
  align-items: baseline;
  display: flex;
  padding: 3%;
  width: 100%;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 650;
  margin-right: auto;
}

header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 8.5em;
}

header a {
  color: inherit;
  text-decoration: none;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

.button--add {
  background-color: var(--color-main);
  border-radius: 50%;
  bottom: 5%;
  color: transparent;
  height: 3em;
  padding: .5em;
  position: fixed;
  right: 5%;
  transition: transform .3s ease-in-out;
  width: 3em;
}

.button--add:hover {
  transform: scale(1.1)
}

.button--add svg {
  fill: none;
  stroke: var(--color-secondary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}

.button--add svg path {
  fill: none;
  stroke: none;
}

/************* Image slideshow ************************/
.slideshow {
  background-color: #131212;
  height: 70vh;
  position: relative;
  width: clamp(15em, 90%, 50em);
}

.slideshow--content {
  display: flex;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slideshow--content__figure {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  width: 100%;
}

.slideshow--content__figure__image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.slideshow--content__figure__description {
  background: #13121285;
  color: #ffbf00;
  left: 0;
  padding: .5em 1em;
  position: absolute;
  top: 0;
}

.slideshow--content__figure a {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slideshow button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
  display: none;
  font-size: 3em;
  padding: .25em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background .2s ease-in-out;
}

.slideshow button.js {
  display: block;
}

.slideshow button:hover {
  background: #13121280;
}

.slideshow #prev {
  left: 0;
}

.slideshow #next {
  right: 0;
}

/************* Upload Images Form *****************/
.upload-form {
  margin: 2em auto 0;
  width: clamp(15em, 80%, 30em);
}

.upload-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.upload-form fieldset input,
.upload-form fieldset textarea {
  margin-bottom: 2%;
  padding: .5em;
  resize: none;
  width: 100%;
}

.upload-form button {
  display: block;
  font-size: 1em;
  margin-left: auto;
}

#drop-zone {
	align-items: center;
	border: 0.1em dashed var(--color-main);
	color: var(--color-main);
	display: flex;
	flex-direction: column;
	font-weight: 600;
	height: 20em;
	justify-content: center;
	line-height: 1.5em;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

#drop-zone.active {
	filter: blur(1px) contrast(50%);
}

#drop-zone.valid {
	border: 0.2em solid var(--color-correct);
}

#drop-zone.invalid {
	border: 0.2em solid var(--color-error);
}

#drop-zone span {
	color: grey;
	font-weight: 300;
}

#drop-zone img {
  object-fit: contain;
  position: absolute;
  width: 100%;
}

#drop-zone input[type="file"] {
	opacity: 0;
	position: absolute;
}

#drop-zone input[type="file"],
#drop-zone input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

#drop-zone input[type="file"]:valid ~ * {
  color: transparent;
}

#drop-zone label {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 0.25em;
}

#drop-zone label:focus-within {
	outline: 1px solid #000;
	outline: -webkit-focus-ring-color auto 2px;
}

/************* Edit Images Form *******************/
.edit {
  display: flex;
  flex-wrap: wrap;
  min-width: 20em;
  position: relative;
  width: 80%;
}

.edit fieldset {
  border: none;
  min-width: 20em;
  width: 50%;
}

.edit figure {
  height: 25em;
}

.edit fieldset img {
  object-fit: contain;
}

.edit fieldset:nth-of-type(2) {
  margin: auto 0;
  padding: 5%;
}

.edit--title {
  font-family: 'Quicksand';
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: .5em;
  width: 100%;
}

.edit--title,
.edit--desc {
  border: .05em solid transparent;
}

.edit--title:hover,
.edit--desc:hover {
  border-color: var(--color-main);
}

.edit--title.mobile,
.edit--desc.mobile {
  border: .05em solid var(--color-main);
}

.edit textarea {
  height: 10em;
  resize: none;
  width: 100%;
}

.edit--photo,
.edit--photo img {
  background: var(--color-main);
  height: 100%;
  width: 100%;
}

.edit button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}

.edit--button__save {
  border-radius: 1.5em;
  background: var(--color-main);
  color: var(--color-secondary);
  display: block;
  padding: 1em;
  margin-left: auto;
}

.edit--button__remove {
  align-items: center;
  background: #13121290;
  border-radius: 50%;
  display: flex;
  height: 2.5em;
  left: clamp(22em, 47.5%, 100vw);
  justify-content: center;
  position: absolute;
  top: 2em;
  transition: 
    background .2s ease-in-out,
    transform .2s ease-in-out;
  width: 2.5em;
}

.edit--button__remove:hover {
  background: #131212;
  transform: scale(1.15);
}

.edit--button__remove svg {
  fill: none;
  height: 1.5em;
  stroke: var(--color-secondary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  width: 1.5em;
}

.edit--button__remove svg path:first-child {
  fill: none;
  stroke: none;
}