:root {
  --color-main: #131212;
  --color-secondary: #ffbf00;
  --color-correct: #38f370;
  --color-error: #f33030;
}

button,
.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--color-main);
  border: none;
	border-radius: 25px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	color: var(--color-secondary);
  cursor: pointer;
  padding: 0.5em 1em;
  transition: transform 0.2s ease-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Quicksand', sans-serif;
}

header {
  align-items: baseline;
  display: flex;
  padding: 3%;
  width: 100%;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 650;
  margin-right: auto;
}

header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 8.5em;
}

header a {
  color: inherit;
  text-decoration: none;
}

.button--add {
  background-color: var(--color-main);
  border-radius: 50%;
  bottom: 5%;
  color: transparent;
  height: 3em;
  padding: .5em;
  position: fixed;
  right: 5%;
  transition: transform .3s ease-in-out;
  width: 3em;
}

.button--add:hover {
  transform: scale(1.1)
}

.button--add svg {
  fill: none;
  stroke: var(--color-secondary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}

.button--add svg path {
  fill: none;
  stroke: none;
}

.feed {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  margin: 0 auto;
  min-height: 80vh;
  justify-content: center;
  width: clamp(15em, 90%, 50em);
}

.feed img {
  width: 100%;
}

/************* Upload Images Form *****************/
.upload-form {
  margin: 2em auto 0;
  width: clamp(15em, 80%, 30em);
}

.upload-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.upload-form fieldset input,
.upload-form fieldset textarea {
  margin-bottom: 2%;
  padding: .5em;
  resize: none;
  width: 100%;
}

.upload-form button {
  display: block;
  font-size: 1em;
  margin-left: auto;
}

#drop-zone {
	align-items: center;
	border: 0.1em dashed var(--color-main);
	color: var(--color-main);
	display: flex;
	flex-direction: column;
	font-weight: 600;
	height: 20em;
	justify-content: center;
	line-height: 1.5em;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

#drop-zone.active {
	filter: blur(1px) contrast(50%);
}

#drop-zone.valid {
	border: 0.2em solid var(--color-correct);
}

#drop-zone.invalid {
	border: 0.2em solid var(--color-error);
}

#drop-zone span {
	color: grey;
	font-weight: 300;
}

#drop-zone img {
  object-fit: contain;
  position: absolute;
  width: 100%;
}

#drop-zone input[type="file"] {
	opacity: 0;
	position: absolute;
}

#drop-zone input[type="file"],
#drop-zone input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

#drop-zone input[type="file"]:valid ~ * {
  color: transparent;
}

#drop-zone label {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 0.25em;
}

#drop-zone label:focus-within {
	outline: 1px solid #000;
	outline: -webkit-focus-ring-color auto 2px;
}