<header>
  <h1><a href="/">Albummy</a></h1>
  <nav>
    <ul>
      <li><a href="/" aria-label="Images" class="active">Images</a></li>
      <li><a href="/" aria-label="Albums">Albums</a></li>
    </ul>
  </nav>
</header>