<%- include('./partials/head', { title: "Upload" }) %>
<main>
  <form 
    action="/upload"
    method="POST"
    enctype="multipart/form-data"
    class="upload-form"
  >
    <fieldset>
      <label>
        Title:
        <input type="text" name="name" id="name">
      </label>
      <label>
        Description:
        <textarea name="desc" id="desc"></textarea>
      </label>
    </fieldset>
    <fieldset id="drop-zone">
      Drag &amp; drop <br />
      <span>or</span>
      <div class="file-input">
        <input type="file" id="file" class="file">
        <label for="file">
          Select file
          <p id="file-name"></p>
        </label>
      </div>
    </fieldset>
    <button type="submit">Upload</button>
  </form>
</main>
<%- include('./partials/foot') %>